.title {
    color: black;
    font-size: 10em;
   
}

.tagline{
    font-size: 5vh;
}

.buttonstart{
    padding:  3vh;
    font-size: 3vh ;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10%;
}

.homepage {
    background: url(img/FOND-DIAPO-2.png) no-repeat center center fixed; 
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
  }