.weaponsContainer {
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin: 2em;
}

.iconLabel {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.weaponsContainerTitle {
  margin: 1em 1em 1.5em 1em;
  text-align: start;
}

.weaponsContainerIcons {
  display: flex;
  margin: 0 1em 1em 1em;
  justify-content: space-between;
}

.gistsIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.gistsIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followingIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followingIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.repositoryIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.repositoryIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followersIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followersIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}




.FIGHT{
  padding:  3vh;
  font-size: 3vh ;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10%;
  position: relative;
  overflow: hidden;
  line-height: 100%;
  cursor: pointer;
}

.FIGHT::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), black 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.FIGHT:hover::after, .FIGHT:focus::after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
.FIGHT:hover {
  cursor: pointer;
}