.weaponsContainer {
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin: 2em;
}

.iconLabel {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.weaponsContainerTitle {
  margin: 1em 1em 1.5em 1em;
  text-align: start;
}

.weaponsContainerIcons {
  display: flex;
  margin: 0 1em 1em 1em;
  justify-content: space-between;
}

.gistsIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.gistsIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followingIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followingIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.repositoryIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.repositoryIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followersIcon {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}

.followersIconSelected {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 0 0;
}
