.steps {
    margin-top: 4rem;
    background-color: #d1d5da;
    padding: 2rem 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.steps-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 2rem 0;
}

.steps-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.steps-li {
    display: flex;
    justify-content: flex-start;
    margin-right: ;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    justify-content: center;
}

.strong-li {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 1rem 0 0 ;
}