.App {
  text-align: center;
}

.Fighter {
  display: flex;
  justify-content: space-around;
}

.first-fighter {
  display: flex;
  flex-direction: column;
}

.second-fighter {
  display: flex;
  flex-direction: column;
}

.versus {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 2rem;
}
